@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

body {
    overflow-x: hidden;
}

.nosRecettes {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.carte{
    cursor:pointer;
}
.cartes {
    font-family: 'Kaisei HarunoUmi', serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.cardColonneTitre {
    font-size : 3.5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    /* overflow: hidden; */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.cardColonneImage {
    display: flex;
    width: 15vw;
}

ol {
    list-style-type: none;
}

.afficheHorloge,.afficheCloche,.afficheCouverts {
height: 5vh;
}

.cardColonne {
display: flex;
flex-direction: column;
align-items:center;
border-radius: 15px;
margin-bottom: 5%;
margin: 0 2vw 2vw 2vw;
justify-content: space-evenly;
background-color: white;
color: black;
height: 70vh;
width: 25vw;
}



.cardColonneImgs {
    display: flex;
    margin: 0 0 0 0;
    padding: 2vh 0 2vh 0;
    width: 22vw;
    justify-content: space-evenly;
    border-bottom: solid 1px black;
}

.cardColonneImgs > img {
    width: 20vw;
    height: 10vh;
}

.cardColonneInfos {
    display: flex;
    font-size: 3vh;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;   
}

.cardColonneTemps,.cardColonneDifficulte,.cardColonnePers{
    margin: 0;
}



.colonneTags {
    margin: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.colonneTags > span {
    display: flex;
    justify-content: center;
    background-color: #F6BB83;
    color: black;
    width: 5vw;
    padding: 1vh;
    border-radius: 50px;
    text-decoration: none;
}

span {
    text-decoration: none;
}

.cardLigne {
    display: none;
}


/*---------------------------- POP UP -----------------------------*/

.X {
    display:flex;
    width:100%;
    justify-content:flex-end;
    cursor: pointer;
}

.affiche {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  background-color:white;
  border-radius:5px;
  overflow-y: scroll;
  overflow-x: hidden;
  top:4%;
  left:25%;
  width:50vw;
  height:95vh;
  animation: apparitionPopUp 1s ease;
  scrollbar-color: black white;
  scrollbar-width: thin;
  z-index: 100;

}

.afficheTitre {
    display: flex;
    justify-content: center;
    width: 100%;
}

.afficheImage {
width: 80%;
}

.afficheImgs {
display: flex;
width: 80%;
justify-content: space-evenly;
padding: 2vh 0 2vh 0;
border-bottom: solid black 1px;
margin: 0;
}

.afficheInfos {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    padding: 0 0 0 0;
}

.onglet {
display: flex;
background-color: rgb(194, 194, 194);
flex-wrap: wrap;
width: 60%;
justify-content: center;
border-radius: 40px;
transition: all 0.4s;
}

.onglet > button {
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: 50%;
    height: 7vh;
    border-radius: 30px;

    border: none;
}

.onglet > button:focus {
    background-color: white;
    transition: 0.8s;
}


.instructions{
display: flex;
justify-content: center;
align-items: center;
width: 80%;
}
.ingredients {
    display: none;
}

.afficheTags {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.afficheTags > span{
    display: flex;
    justify-content: center;
    background-color: #F6BB83;
    color: black;
    width: 5vw;
    padding: 1vh;
    border-radius: 50px;
    text-decoration: none;
}

.filtre {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    top: 0%;
    left: 0%;
    filter: brightness(0.5px) blur(0.5px);
}

#closeRecette{
    display: block;
    padding-top:2%;
    padding-right:2%;
    width:4%;
    transition: all 200ms;
}
#closeRecette:hover {
    padding-top:2%;
    padding-right:0%;
    padding-bottom:0%;
    padding-left:2%;
    transform: rotate(90deg);
}


@media (max-width: 1050px) {
    .cardColonne {
        width: 30vw;
        height: 65vh;
    }

    .cardColonneTitre {
        width: 30vw;
        height: 10vh;
    }

    .cardColonneImage {
    display: flex;
    width: 25vw;
    }
}

@media (max-width: 700px) {
    .cardColonne {
        width: 70vw;
        height: 75vh;
    }

    .cardColonneImage {
    display: flex;
    width: 45vw;
    }

    .colonneTags > span {
        width: 15vw;
    }

    .cardColonneImgs {
    width: 100%;
    height: 7vh;
    padding: 0;
    margin: 0;
}

.affiche {
    width: 70vw;
  border-radius:5px;
  top:4%;
  left:15%;
  animation: apparitionPopUp 1s ease;
  z-index: 100;
}

.afficheTags > span {
    width: 20vw;
    justify-items: center;
}

}
