
/* --- PRINCIPAL DIV HEADER --- */
#navbar{
  background-color:#272729;
  display:flex;
  justify-content:space-around;
  width:100vw;
}

/* --- 3 DIV HEADER (logo,researchBar,BtnLexique) --- */

#logo{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-right:20%;
  animation: animationHeader 0.6s ease-out;
  animation-fill-mode: backwards;
  animation-delay:1.1s;

}

#research{
  display:flex;
  justify-content:center;
  align-items:center;
  animation: animationHeader 0.6s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1.25s;
}

#lexique{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-left:30%;
  animation: animationHeader 0.6s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1.4s;
}


/* --- LOGO --- */

#imgLogo{
  width:15vw;
}

/* --- SEARCHBAR --- */

/*Div that contains all the elements of the searchBar/ White background*/
#searchBar{
  width:20vw;
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  background-color:white;
  padding-left:5%;
  padding-right:1.5%;
  border-radius:30px;
}
/*Div that countains the submit and the select of the searchBar*/
#loopSelect{
  display:flex;
  justify-content:center;
  align-items:center;
}
/*Input text*/
#text{
  width:12vw;
  font-family:Kaisei HarunoUmi;
  font-size:130%;
  border:none;
}
#text:focus{
  outline:none;
}

/*Submit/ loop image*/
#submitImg{
  width:30px;
}
#submit{
  background-color:transparent;
  border:none;
  padding-right:20%;
}
/*Select ▼*/
#select{
  width:20px;
  padding:10%;
  background-color:transparent;
  border:none;
  border-left: 1px solid black;
  transform:scale(1.3);
  margin-right:20%;
}
.option{
  background-color:#F6BB83;
  color:#272729;
}

/* --- LEXIQUE --- */

/*Logo pour accéder au lexique*/
#openLexique{
  width:4.5vw;
  cursor:pointer;
  transition-duration:0.5s;
}
#openLexique:hover{
  transform:translateY(-10px);
}

/* ---- RESPONSIVE ---- */

@media(max-width:1000px){
  #searchBar{
    padding-left:10%;
    padding-right:10%;
  }
  #text{
    padding-right:5%;
    font-size:110%;
  }
}

@media(max-width:700px){
  #searchBar{
    width:30vw;
    padding-right:10%;
  }
  #navbar{
    height:10vh;
  }
  #openLexique{
    width:7vw;
  }
  #imgLogo{
    width:20vw;
  }
  #text{
    width:20vw;
    padding-right:8%;
  }
  #logo{
    padding-right:18%;
  }
  #lexique{
    padding-left:12%;
  }
}

@media(max-width:600px){

  #logo{
    padding-right:15%;
  }
  #lexique{
    padding-left:10%;
  }
  #searchBar{
    padding-right:5%;
  }
  #openLexique{
    width:10vw;
  }
  #imgLogo{
    width:25vw;
  }
  #searchBar{
    width:30vw;
    padding-right:25%;
    padding-left:10%;
  }
  #text{
    width:25vw;
    font-size:100%;
    padding-right:10%;
  }
  #research{
    width:50vw;
  }
}

@media(max-width:450px){
  #searchBar{
    padding-right:35%;
    padding-left:13%;
  }
}

@keyframes animationHeader{

  from{
    transform:translateY(-120px);
  }
  to{
    transform:translateY(0px);
  }
}
